# Node Modules
node_modules/

# Environment Variables
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS System Files
.DS_Store
Thumbs.db

# Build Files
dist/
build/

# Temporary files
*.tmp
